@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Hammersmith+One&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "ABeeZee", serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.App {
  font-family: Karla, sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  overflow: hidden;
}

header {
  background: #9147ff;
  color: white;
  h1 {
    margin: 0;
    padding: 0;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

main {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  flex: 1;
  overflow: auto;
}

nav {
  flex: 1;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    background: lightgrey;
    padding: 1rem;
    li {
      margin-bottom: 0.5rem;
      a {
        color: inherit;
        text-decoration: none;
        &.active {
          font-weight: 800;
        }
      }
    }
  }
}

section {
  flex: 4;
  > * {
    padding-top: 1rem;
  }
}

nav,
section,
header {
  padding: 1rem;
}

/**
 * COMPONENTS
 */

.DropZone {
  > div {
    background: lightgrey;
    padding: 3rem;
  }
  &.is-active {
    > div {
      background: olive;
      color: white;
    }
  }
}

.cards-space-wrapper {
  .cards-actions {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .cards-container {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);

    .Card {
      border: 1px dashed lightgrey;
      padding: 1rem;
      break-inside: avoid;
      overflow: hidden;

      .metadata {
        margin: 0;
        font-size: .7rem;
        color: grey;
      }
      .title {
        font-size: 1rem;
        margin: 0;
      }
      .channel {
        margin: 0;
        font-size: 1rem;
        font-variant: italic;
        color: grey;
      }
      .url {
        margin: 0;
        a {
          text-decoration: none;
          color: grey;
          font-weight: 200;
          font-size: .9rem;
          word-break: break-all;
        }
      }
    }
  }
}


@media print {
  body {
    position: relative;
  }
  .App {
    overflow: visible;
    display: block;
    position: relative;
  }
  header, nav {
    display: none;
  }
  main {
    overflow: visible;
  }
  .cards-space-wrapper {
    .cards-actions {
      display: none;
    }
    .cards-container {
      width: 100%;
      max-width: 20cm;
      .Card {
        max-width: 7cm;
      }
    }
  }
  
  
}

.tuto {
  a {
    color: inherit;
  }
  button {
    border: none;
    background: none;
    font-family: inherit;
    font-weight: 600;
    font-size: inherit;
    cursor: pointer;
    padding: 0;
  }
}